* {
  box-sizing: border-box;
}

body {
  background-color: transparent;
  margin: 0;
  font-family: 'Lexend Exa', sans-serif;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.35s linear;
  /* Navigation: Wenn man über die Maus fährt, bleibt 1s lang die Farbe bestehen */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#header {
  height: 60px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
}

#main-navigation {
  display: none;
}

#burger {
  background: transparent;
  border: none;
}

#hero {
  background-image: url(img/intro.jpg);
  height: 100vh;
  /* 100 viewport */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero p {
  color: #fff;
}

#hero h1 {
  color: #fff;
  font-size: 2rem;
}

/* Nur p  und h1 der Hero-Sektion sollen weiß sein.  */
.button {
  color: #37467;
  background: #fff;
  border: 2px #37467 solid;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  transition: ALL 1s ease;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
  margin: 1rem;
}

.button:hover {
  background: #374a67;
  color: #fff;
}

.card {
  text-align: center;
  border: 1px solid #828282;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 1);
  border-radius: 4px;
  overflow: hidden;
  margin: 1rem;
}

.card img {
  width: 100%;
}

p {
  color: white;
}

.sidebar {
  background: #04122B;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  line-height: 2.5rem;
  font-size: 1rem;
}

/* absatz Überschrift */
#social-nav ul {
  display: flex;
  font-size: 2rem;
}

footer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card a {
  text-decoration: none;
  color: black;
}

/* Alle Links in der Karte */
.card p a {
  color: #828282;
}

.card p {
  margin: 1rem;
}

/* -.card p a -> Alle Ps, die in einem a sind */
.card .button {
  background: #374a67;
  color: #fff;
  display: block;
}

/* .card .button -> Ein Button der in den Karten ist */
.card .button:hover {
  background: #fff;
  color: #374a67;
  border-color: #374a67;
}

#rezepte {
  text-align: center;
}

.email {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #04122b;
}

.newsletter .button {
  margin-left: 4px;
}

#footer-nav {
  text-align: center;
  line-height: 1.5rem;

}

#social-nav ul li {
  padding: 2rem;
}

#main-navigation.show {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  background: white;
  width: 100%;
  text-align: center;
  height: calc(100vh - 60px);
  padding: 3rem 0;
  line-height: 3rem;

}

.overflow {
  overflow: hidden;}


@media (min-width: 960px) {
  #main-navigation {
    display: flex;
  }

  #burger {
    display: none;
  }

  /* #ul {
    display: flex; */
  nav li {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  nav li:last-child {
    margin-right: 0;
  }

  nav li:first-child {
    background: white;
  }

  nav a:hover {
    color: #596e7a;
    background: yellow;
  }

  /* Mouse-over: Farbe ändert sich */
  .row {
    display: flex;
    margin: 1rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  #footer-nav ul {
    display: flex;
  }
}
